<div id="example-multiple-basic-select">
  <h2>Multiple select</h2>

  <p>
    This is a multiple select example with dialog. Dialog shows up if you click on select field. In the dialog
    we present a list component where the user can select multiple items.
  </p>
  <p>
    In this example we have an address model with a tags field and a set of tags. The user can select
    one on more tags.
  </p>
  <p>
    The <code>dialogSettings</code> contains a dialog configuration to show <code>TagListComponent</code> when
    shows the dialog.
  </p>

  <p><strong>Usage:</strong></p>

  <pre>
    &lt;dd-select
      mode="multiple"
      [model]="address"
      field="tags"
      [items]="tags"
      [dialogSettings]="dialogSettings"
    &gt;&lt;/dd-select&gt;
  </pre>

  <p><strong>Example:</strong></p>

  <dd-select
    mode="multiple"
    [model]="address"
    field="tags"
    [items]="tags"
    [dialogSettings]="dialogSettings"
  ></dd-select>

  <div class="alert alert-info my-3">
    <p><strong>Model:</strong></p>
    <code>
      {{ address | clearModel | json }}
    </code>
  </div>
</div>
