<h1>Select Examples</h1>

<p>Here we present & test all variations of dd-select component configuration.</p>

<!-- simple select -->
<div id="example-simple-select">
  <app-dd-select-simple-examples></app-dd-select-simple-examples>
</div>

<!-- multiple select, basic example -->
<div id="example-multiple-basic-select">
  <app-dd-select-multiple-basic-examples></app-dd-select-multiple-basic-examples>
</div>

<!-- single select -->
<div id="example-single-select">
  <app-dd-select-single-examples></app-dd-select-single-examples>
</div>
