<div id="example-single-select">
  <h2>Single select with dialog</h2>

  <p>
    This is a single select example with dialog. Dialog shows up if you click on select field. In the dialog
    we present a list component where the user can select <strong>only one</strong> items.
  </p>
  <p>
    In this example we have an address model with a country field and a set of countries. The user can select
    one country.
  </p>
  <p>
    The <code>dialogSettings</code> contains a dialog configuration to show <code>CountryListComponent</code> when
    shows the dialog.
  </p>

  <p><strong>Usage:</strong></p>

  <pre>
    &lt;dd-select
      mode="single"
      [model]="address"
      field="country_id"
      [dialogSettings]="dialogSettings"
    &gt;&lt;/dd-select&gt;
  </pre>

  <p><strong>Example 1. - select from predefined :</strong></p>

  <dd-select
    mode="single"
    [model]="address1"
    field="country_id"
    [dialogSettings]="countryDialogSettings"
    (selected)="log($event, 'selected')"
    (selectModel)="log($event, 'selectModel')"
  ></dd-select>

  <div class="alert alert-info my-3">
    <p><strong>Model:</strong></p>
    <pre>{{ address1 | clearModel | json | prettyJson }}</pre>
  </div>

  <p><strong>Example 2. - select from loaded data list:</strong></p>

  <dd-select
    mode="single"
    [model]="address2"
    field="tag_id"
    [dialogSettings]="tagDialogSettings2"
  ></dd-select>

  <div class="alert alert-info my-3">
    <p><strong>Model:</strong></p>
    <pre>{{ address2 | clearModel | json | prettyJson }}</pre>
  </div>

  <p><strong>Example 3. - select from loaded data list - predefined selected elements:</strong></p>

  <dd-select
    mode="single"
    [model]="address3"
    field="tag_id"
    [dialogSettings]="tagDialogSettings3"
  ></dd-select>

  <div class="alert alert-info my-3">
    <p><strong>Model:</strong></p>
    <pre>{{ address3 | clearModel | json | prettyJson }}</pre>
  </div>
</div>
