<div id="example-single-select">
  <h2>Single select with dialog</h2>

  <p>
    This is a single select example with dialog. Dialog shows up if you click on select field. In the dialog
    we present a list component where the user can select <strong>only one</strong> items.
  </p>
  <p>
    In this example we have an address model with a country field and a set of countries. The user can select
    one country.
  </p>
  <p>
    The <code>dialogSettings</code> contains a dialog configuration to show <code>CountryListComponent</code> when
    shows the dialog.
  </p>

  <p><strong>Usage:</strong></p>

  <pre>
    &lt;dd-select
      mode="single"
      [model]="address"
      field="country_id"
      [dialogSettings]="dialogSettings"
    &gt;&lt;/dd-select&gt;
  </pre>

  <p><strong>Example:</strong></p>

  <dd-select
    mode="single"
    [model]="address"
    field="country_id"
    [dialogSettings]="dialogSettings"
  ></dd-select>

  <div class="alert alert-info my-3">
    <p><strong>Model:</strong></p>
    <code>
      {{ address | clearModel | json }}
    </code>
  </div>
</div>
